body{margin:0;font-family:Arial;background:#0b0b0f;color:white;}
.topbar{background:#111;display:flex;justify-content:space-between;align-items:center;padding:15px 20px;}
.logo{display:flex;gap:10px;align-items:center;}
.icon{background:#6c5ce7;padding:10px;border-radius:50%;}
.clear-btn{padding:7px 14px;border:none;border-radius:10px;background:crimson;color:white;cursor:pointer;}
.chat-area{height:75vh;overflow-y:auto;padding:20px;}
.input-bar{display:flex;padding:15px;background:#111;}
.input-bar input{flex:1;padding:12px;border-radius:25px;border:none;background:#222;color:white;}
.input-bar button{margin-left:10px;padding:12px 18px;border:none;border-radius:50%;background:#6c5ce7;color:white;cursor:pointer;}
.voice-btn{background:#222;border:1px solid #444;}
.sub-btn{background:red;border:none;padding:8px 14px;border-radius:12px;color:white;font-weight:bold;margin-right:10px;}
.expired-box{display:none;position:fixed;bottom:90px;right:20px;background:#111;padding:15px;border-radius:15px;border:1px solid red;text-align:center;}
.whatsapp-btn{background:limegreen;padding:10px 14px;border-radius:12px;text-decoration:none;color:white;font-weight:bold;}


.link-box{
  margin-top:15px;
  padding:12px;
  border-radius:15px;
  background:#1a1a1f;
}
.link-box h4{
  margin:0 0 10px;
  font-size:14px;
  color:gold;
}
.link-box a{
  display:block;
  margin:6px 0;
  padding:10px;
  border-radius:12px;
  text-decoration:none;
  font-weight:bold;
  color:white;
  background:#333;
  transition:0.2s;
}
.link-box a:hover{
  background:#6c5ce7;
  transform:scale(1.03);
}
